html {
    min-height: 100%;
    width: 100%
}

body {
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px;
    min-height: 100%;
}

.container {
    max-width: 500px;
    height: 100%;
    margin: 8% auto;
}

.game-top {
    padding-top: 10px;
    width: 100%;
    height: 20%;
}
.game-top p {
    margin: 2%;
}

#game-score {
    padding-right: 10%;
}

.definition {
    padding-top: 20%;
    width: 100%;
    height: 20%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.game-content {
    width: 100%;
    height: 40%;
}

.game-content ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 10%;
    height: 100%;
}
.game-content li {
    float: left;
    margin: 1.66%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #67d0b4;
    box-shadow: 0 0 50px #706565 inset;
}
.game-content li:last-child {
    margin-bottom: 50px;
}

.game-content div {
    position: relative;
    margin-top: -15px;
    margin-left: 25px;
    width: 50px;
    height: 70px;
    border-radius: 50%/40%;
    background-color: #dfb25d;
    opacity: 0;
}

.game-content div.good {
    background-color: #dfb25d;
}
.game-content div.good[clicked="1"]::after {
    content: "✓";
    line-height: 70px;
    font-size: 40px;
    color: #0ad845;
}

.game-content div.bad {
    background-color: #a48f5c;
}
.game-content div.bad[clicked="1"]::after {
    content: "✕";
    line-height: 70px;
    font-size: 40px;
    color: #db1536;
}

@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }
    .game-content ul {
        padding: 0;
    }
/*    .game-content li {
        margin-left: 5px;
        width: 90px;
    }*/
    .game-content div {
        margin-left: 20px;
    }
}

@-webkit-keyframes mouse-move {
    50% {
        margin-top: -40px;
        opacity: 1;
    }
    100% {
        margin-top: -15px;
        opacity: 0;
    }
}
@keyframes mouse-move {
    50% {
        margin-top: -40px;
        opacity: 1;
    }
    100% {
        margin-top: -15px;
        opacity: 0;
    }
}

.game-content div.active {
    -webkit-animation: mouse-move 2s ease-in-out infinite;
        animation: mouse-move 2s ease-in-out infinite;
}