html {
    min-height: 100%;
    width: 100%
}

body {

    background: black;
    color: white;
    margin: 0px;
    min-height: 100%;
}

.container {
    max-width: 500px;
    height: 100%;
    margin: 8% auto;
    font-family: 'Lato', sans-serif;
}

h4 {
    font-family: 'Abril Fatface', cursive;
}

.game-top {
    padding-top: 10px;
    width: 100%;
    height: 20%;
}
.game-top p {
    margin: 2%;
}

#game-score {
    padding-right: 10%;
    /* changed */
    color: rgb(254,215,74);
}

#game-time {
    /* changed */
    color: rgb(254,215,74);
}

hr {
    border-top: 1px solid rgb(254,215,74);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.definition {
    margin: 1.66%;
    margin-top: auto;
    height: 80px;
    border-radius: 5%;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    padding-right: 1px;
    padding-left: 1px;
/*    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
}

.game-content {
    width: 100%;
    height: 60%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.game-content ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 15px;
    height: 100%;
}
.game-content li {
    float: left;
    margin: 1.66%;
    width: 30%;
    height: 90px;
    border-radius: 25%;
/*    background-color: #bce2e5;
    box-shadow: 0 0 50px #889091 inset;*/
    /*background-color: black;*/
    border: 5px solid rgb(254,215,74);
}
.game-content li:last-child {
    margin-bottom: 50px;
}

.game-content div {
    position: relative;
    display: none;
    -webkit-animation: mouse-move 4s ease-out infinite;
    animation: mouse-move 4s ease-out infinite;
}

li {
    position: relative;
}

li div {
    position: absolute;
    top: 35%;
    color: white;
    cursor: pointer;
}

li div:hover {
    color: rgb(254,215,74);
}


@media screen and (max-width: 500px) {
    .container {
        width: 95%;
    }
    .game-content ul {
        padding: 0;
    }

    .definition {
        line-height: 80px;
        height: 80px;
    }

    .definition p {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
    }
    
}

@-webkit-keyframes mouse-move {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes mouse-move {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
