html {
    min-height: 100%;
    width: 100%
}

body {
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px;
    min-height: 100%;
}

.container {
    max-width: 500px;
    height: 100%;
    margin: 8% auto;
}

.game-top {
    padding-top: 10px;
    width: 100%;
    height: 20%;
}
.game-top p {
    margin: 2%;
}

#game-score {
    padding-right: 10%;
}

.definition {
    margin-top: 74px;
    width: 100%;
    height: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding-right: 1px;
    padding-left: 1px;
}

.game-content {
    width: 100%;
    height: 60%;
}

.game-content ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 15px;
    height: 100%;
}
.game-content li {
    float: left;
    margin: 1.66%;
    width: 30%;
    height: 90px;
    border-radius: 50%;
    background-color: #67d0b4;
    box-shadow: 0 0 50px #706565 inset;
}
.game-content li:last-child {
    margin-bottom: 50px;
}

.game-content div {
    position: relative;
    display: none;
}

li {
    position: relative;
}

li div {
    position: absolute;
    top: 35%;
}


@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }
    .game-content ul {
        padding: 0;
    }

    .definition {
        line-height: 80px;
        height: 80px;
    }

    .definition p {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
    }
    
}
